# Ignore node_modules (onde as dependências do Node.js são instaladas)
node_modules/

# Ignore arquivos gerados pelo Cypress
/cypress/videos/
/cypress/screenshots/


# Ignore relatórios e resultados de testes gerados pelo Cypress
/cypress/results/

# Ignore arquivos de dependências Node.js
package-lock.json
yarn.lock

# Ignore arquivos de configuração de IDEs ou editores específicos
.vscode/
.idea/

# Ignore logs ou arquivos temporários
*.log
*.tmp
*.tmp.*